@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 1% 16%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    /* --primary: 142.1 76.2% 36.3%; */
    --primary: 65 82% 56%;
    /* --primary-foreground: 355.7 100% 97.3%; */
    --primary-foreground: 0 1% 16%;
    /* --secondary: 240 4.8% 95.9%; */
    --secondary: 241 80% 61%;
    /* --secondary-foreground: 240 5.9% 10%; */
    --secondary-foreground: 0 0% 100%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    /* --disabled: 0 0% 87%;
    --disabled-foreground: 0 0% 100%; */
    /* --accent: 240 4.8% 95.9%; */
    --accent: 65 82% 56%;
    /* --accent-foreground: 240 5.9% 10%; */
    --accent-foreground: 0 1% 16%;
    /* --destructive: 0 84.2% 60.2%; */
    --destructive: 0 100% 66%;
    /* --destructive-foreground: 0 0% 98%; */
    --destructive-foreground: 0 0% 100%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 65 82% 56%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}